.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* creates 3 equal-width columns */
  grid-template-rows: repeat(2, 400px); /* creates 2 rows, each with a height of 150 pixels */
  gap: 100px; /* sets a 10-pixel gap between grid items */
}