body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.template-box {
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    overflow: auto;
    white-space: nowrap;
}

.template {
    display: inline-block;
    width: 255px;
    height: 408px;
    vertical-align: bottom;
}